 <div id="footer">
    <div id="footer-text">Copyright <i class="fa-regular fa-copyright"></i> MediTrack.All rights reserved.</div>
    <div id="footer-icon">Follow us on  <a href="https://www.linkedin.com/in/amit-bhardwaj-a46519200/"> <i class="fa-brands fa-twitter" style="cursor: pointer;"></i> <i class="fa-brands fa-linkedin" style="cursor: pointer;"></i></a></div>
 </div>   
</body>
</html>